/* Write your CSS here */
.empty-active {
  font-size: 24px;
  text-align: center;
  padding: 25px;
  color: #64748b;
}
.active-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: 40vw;
}

.register-image {
  width: 38%;
  margin-bottom: 20px;
}
.active-event-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3a4b63;
}
.active-event-desc {
  margin-bottom: 20px;
  color: #64748b;
  font-size: 18px;
}
.register-button {
  padding: 8px;
  color: white;
  border-width: 0;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: #0967d2;
  width: 25%;
}
